a{
    text-decoration: none;
}
body{
    z-index: -2;
    background-color:rgb(190, 186, 186);
}
button{
    border: 2px solid black;
    background-color:rgb(190, 186, 186);
    padding: 5px 5px;
    margin: 10px 10px;
}
button:hover{
    box-shadow: 0 0 0 4px red;
}
.bold{
    font-weight: bold;
}
#black{
    background-color: black;
    height: 64px;
    width: 200vw;
}
#homelogo{
    height:90px;
    position: relative;
    left: 700px;
}
#red{
    height: 175px;
    background-color: red;
    width: 200vw;
}
#topgradient{
    height:135px;
    position: relative;
    bottom: 20px;
    background: linear-gradient(red,rgb(190,186,186));
    width: 200vw;
}
h2{
    font-weight: bold;
    font-size: large;
}
ul{
   list-style: none;
}
.navbar>li{
    display:inline;
}
ul.navbar li{
    min-width: 12rem;
    text-align: center;  
}
.navbar{
    position: relative;
    left: 260px;
    bottom: 20px;
}
.navbar>li>a{
    text-decoration: none;
    margin: 20px;
    color: black;
}
#footer{
    text-align: center;
    position: relative;
    margin-top: 450px;
    font-size: small;
}
/*we never covered this but this thing you're seeing here, ":hover" is a selector to select the styles of an element when the mouse hovers over it.*/
#slash:hover{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline solid black 1px;
}
main{
    position: relative;
    left: 120px;
}
.titlecard-text{
    color: rgba(2, 0, 0, 2)
}